body {
   font-size: 90% 
}

h3{
  width:100%;
  text-decoration:underline;
  text-transform:uppercase;  
  padding:0mm;
  margin:0mm;
}

h4 {
	display:inline;
}

h1{
	width:100%;
	text-align:center;
	text-transform:uppercase;
}

.no-space{
	margin : 0pt;
	padding : 0pt;
}

.poste{
	margin : 0pt;
	padding: 0pt;
	list-style-type : none;
}


.bolder{
	font-weight:bold
}	

 table{	
	border-collapse:collapse
}

tr, td, th{
	border: 1px solid black;
	padding:2px;
	
}

th{
	background-color: #ccc;
	text-align:center;
}
